<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="Howard.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="profile.png" alt="">
            <div class="head">
                <h1>Howard Alexander</h1>
                <p>designed at bit Laayout</p>
            </div>
        </header>
        <main>
            <article class="left">
                <h2>About</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero aliquam, aliquid alias ducimus repudiandae
                    numquam iste fugit quisquam deserunt nisi excepturi aspernatur inventore non amet, incidunt provident
                    labore voluptates architecto. Laudantium nemo exercitationem quo culpa recusandae officiis quaerat dolor
                    unde. Fuga illum sunt neque quibusdam commodi beatae sapiente dignissimos vel, exercitationem odit quod
                    quam laboriosam, laborum eveniet vero ipsa libero? Ab accusamus ducimus rerum veniam repellat? Totam
                    nihil natus hic illum reiciendis nulla, ut commodi voluptatum vero. Cum, veniam harum eaque, nesciunt
                    dolorem, quisquam quaerat inventore pariatur animi numquam hic.</p>
            </article>
            <div class="right">
                <article>
                    <h2>title 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis dolorem esse architecto.
                        Aperiam harum magni sed esse alias recusandae quo molestias necessitatibus, delectus officia facilis
                        dignissimos vero laboriosam voluptatum?Earum facilis aliquam aut dolores esse voluptatibus, recusandae
                        voluptates sequi impedit repellat culpa eaque quaerat, neque natus cumque iure ullam tempora reprehenderit
                        at perferendis ex ea. Quod laboriosam quibusdam cum.</p>
                </article>
                <article>
                    <h2>Title 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, obcaecati. Maiores corporis facilis
                        vero ratione. Fuga possimus, sint similique, rerum nisi exercitationem neque voluptatem excepturi
                        error incidunt saepe, aliquid molestiae? Facilis, dolore. Doloremque ex nesciunt perspiciatis nisi
                        corrupti nulla harum nihil cupiditate exercitationem quis vero quibusdam natus minus maiores quae
                        alias, voluptatibus excepturi, repudiandae iusto praesentium asperiores architecto eius culpa? Esse
                        odio voluptates odit velit obcaecati, temporibus impedit sequi cum ipsum dignissimos reprehenderit
                        magnam! Quod, illo, quos omnis excepturi animi magni cum soluta aspernatur, neque maxime reiciendis
                        reprehenderit obcaecati placeat.</p>
                </article>
            </div>


        </main>


    </div>

</body>

</html>