.prva{
    display: block;
    height: 200px;
    float:right;
}

.druga{
    display: block;
    width: 200px;
    margin: 0 auto;
    clear:both;
}

.treca{
    display: block;
    width: 200px;
    height: 200px;
    
}