/* body {
    background-image: url("slika.jpg");
    background-attachment: fixed;
    color: white;
} */

body {
    background-image: url("http://images.all-free-download.com/images/graphiclarge/clouds_in_sky_background_192377.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}