div {
    background-color: rgb(238, 235, 235);
    width: 18%;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    border-radius: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
}
span{
    color: rgb(223, 164, 15);
}
.subButton{
    background-color: rgba(209, 60, 60,0.85);
    color: whitesmoke;
    margin-top: 15px;
    cursor: pointer;
}
